@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

img {
  vertical-align: top;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  float: left;
}

button {
  border: none;
  padding: 0;
}

iframe {
  vertical-align: bottom;
}

@keyframes twoHeartsFadeIn {
  0% {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}
.faHeader {
  margin-right: 5px;
}

.faVideo {
  margin-right: 3px;
}

.red {
  box-shadow: 1.8px 0px 3px #f44, -1.8px 0px 3px #f44, 0px 1.8px 3px #f44, 0px -1.8px 3px #f44;
}

.orange {
  box-shadow: 1.8px 0px 3px #f80, -1.8px 0px 3px #f80, 0px 1.8px 3px #f80, 0px -1.8px 3px #f80;
}

.gray {
  box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.5);
}

.iconLN {
  border: 1.6px solid #f44;
}

.iconUC {
  border: 1.6px solid #f80;
}

.iconA {
  border: 1.6px solid #807e83;
}

.iconP {
  border: 1.6px solid #c36;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 364364;
  width: 100%;
  height: 60px;
  background-color: #333;
}
header .btn {
  color: #fff;
  background-color: #333;
  font-size: 18px;
  line-height: 60px;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.2s;
}
header .btn:hover {
  color: #4b74ff;
}
header #clock {
  float: right;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  padding-right: 20px;
}
header #clock #showClock {
  float: left;
}
header #clock #showClock #blinking {
  animation: blinking 1s linear infinite;
}
@keyframes blinking {
  0%, 50% {
    color: #333;
  }
  51%, 100% {
    color: #fff;
  }
}

.invisibleCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.optionParentFrame {
  margin: 0 auto;
  width: 503.2px;
  background-color: #fff;
  border: 1.6px solid #807e83;
  border-radius: 12.54px;
  padding: 10px;
  display: none;
}
.optionParentFrame .optionParent {
  position: relative;
  width: 480px;
  border: 1.6px solid #807e83;
  border-radius: 12px;
  overflow: hidden;
}
.optionParentFrame .optionParent .optionImage {
  width: 100%;
}
.optionParentFrame .optionParent .optionString {
  position: absolute;
  left: 0px;
  text-align: center;
  width: 100%;
  margin: 0px;
}
.optionParentFrame .optionParent #bookTitle {
  position: absolute;
  top: 50%;
  left: 55%;
  color: #215dc6;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.optionParentFrame .optionParent .optionImageCredit {
  position: absolute;
  font-size: 10px;
  cursor: pointer;
}

#birthdayParentFrame {
  box-shadow: 0px -6px 6px #ffcde1, 6px 0px 6px #ffcde1, 0px 6px 6px #ffcde1, -6px 0px 6px #ffcde1;
  margin-top: 12px;
  margin-bottom: 24px;
}
#birthdayParentFrame #birthdayImage {
  background-color: #A0CEA8;
}
#birthdayParentFrame #whiteBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
#birthdayParentFrame #birthdayString {
  top: 50%;
  color: #f8c6bd;
  font-size: 22px;
  text-shadow: 0.6px 0.6px 0px #333, -0.6px 0.6px 0px #333, 0.6px -0.6px 0px #333, -0.6px -0.6px 0px #333;
  transform: translateY(-50%);
}
#birthdayParentFrame #birthdayString #underLine {
  color: #f8c6bd;
  cursor: pointer;
}
#birthdayParentFrame #birthdayImageCredit {
  right: 3px;
  bottom: 0px;
  color: #fff;
}
#birthdayParentFrame #birthdayIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 120px;
  height: 120px;
  border: 4px solid;
  border-radius: 50%;
  cursor: pointer;
}
#birthdayParentFrame .birthdayImageCoverParent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #333;
  cursor: pointer;
  transition: transform 2.5s;
}
#birthdayParentFrame .birthdayImageCoverParent #touchHere {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 22px;
  transform: translate(-50%, -50%);
  transition: color 0.32s;
}
#birthdayParentFrame .birthdayImageCoverParent #violetWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  background: #948bdb;
  box-shadow: 0 0 9px #948bdb, 0 0 36px #948bdb, 0 0 9px #948bdb;
  transform: translate(-50%, -50%) scale(0);
}
#birthdayParentFrame .birthdayImageCoverParent .vWScale {
  animation: vWScale 1s linear forwards;
}
@keyframes vWScale {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .vWTransform {
  animation: vWTransform 3s linear 0.1s forwards;
}
@keyframes vWTransform {
  0% {
    width: 20%;
    height: 20%;
  }
  50% {
    width: 100%;
    height: 20%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild {
  position: relative;
  width: 100%;
  height: 100%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .cardCollection {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%) rotateY(270deg);
  transform-origin: 50%;
  transition: transform 1.2s 0s linear;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #devilCard {
  transform: translate(-50%, -50%) rotateY(0deg);
  transition: transform 1.2s 0.3s linear;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepRuki {
  width: 53%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepRuki #secondStepRuki {
  transition: transform 1.2s 0s ease;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepRuki #secondStepRuki .giggles {
  animation: giggles 1s linear 0s 2;
}
@keyframes giggles {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepRuki #secondStepRuki #vitamineThumbnail {
  width: 100%;
  border-radius: 5px;
  transform: rotate(-90deg);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #shadowSlide {
  width: 100%;
  height: 100%;
  background-color: #333;
  box-shadow: 0px 0px 24px 0px #333, 0px 0px 36px 0px #333, 0px 0px 48px 0px #333;
  transform: translateX(0%);
  transition: transform 2.5s 0s linear;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepYun {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12%;
  transform: translate(-50%, -50%) rotate(90deg) translateX(100%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepYun #secondStepYun {
  transform: rotate(0deg);
  transform-origin: 100% 50%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepYun #secondStepYun #thirdStepYun {
  transform: translateX(0%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepYun #secondStepYun #thirdStepYun #dolphin1 {
  width: 100%;
}
@keyframes thirdStepYun {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepYun #secondStepYun .thirdStepYun {
  animation: thirdStepYun 1.3s ease-in 0.65s forwards;
}
@keyframes secondStepYun {
  0%, 33.33%, 66.67%, 100% {
    transform: rotate(0deg);
  }
  16.67%, 83.33% {
    transform: rotate(11deg);
  }
  50% {
    transform: rotate(-11deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepYun .secondStepYun {
  animation: secondStepYun 1.8s linear 0.82s forwards;
}
@keyframes firstStepYun {
  0% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(100%);
  }
  50% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(-20%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg) translateX(0%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepYun {
  animation: firstStepYun 0.98s ease 1.65s forwards;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .dolphin {
  position: absolute;
  top: calc(50% - 16.076952px);
  width: 12%;
  transform: translate(-50%, -50%) rotate(60deg);
  transform-origin: 50% 120px;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #dolphin2 {
  left: 87.5%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #dolphin3 {
  left: 50%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #dolphin4 {
  left: 12.5%;
}
@keyframes dolphinJump {
  0% {
    transform: translate(-50%, -50%) rotate(60deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-60deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .dolphinJump {
  animation: dolphinJump 2.8s ease-in-out 0.7s forwards;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #fourthStepYun {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 12%;
  transform: translate(-20%, -50%) rotate(-45deg) translateX(-100%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #fourthStepYun #fifthStepYun {
  transform-origin: 0% 50%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #fourthStepYun #fifthStepYun #dolphin5 {
  width: 100%;
  transform: rotateY(180deg);
  transform-origin: center;
}
@keyframes fifthStepYun {
  0%, 33.33%, 66.67%, 100% {
    transform: rotate(0deg);
  }
  16.67%, 83.33% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #fourthStepYun .fifthStepYun {
  animation: fifthStepYun 1.8s linear 0.82s forwards;
}
@keyframes fourthStepYun {
  0% {
    transform: translate(-20%, -50%) rotate(-45deg) translateX(-100%);
  }
  100% {
    transform: translate(-20%, -50%) rotate(-45deg) translateX(0%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .fourthStepYun {
  animation: fourthStepYun 0.98s ease 0.98s forwards;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #blackSea {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 50%;
  background-color: #333;
  border-top: 3px solid #333;
}
@keyframes seaHorizon {
  0% {
    border-top: 3px solid #333;
  }
  100% {
    border-top: 3px solid #fff;
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .seaHorizon {
  animation: seaHorizon 0.65s linear 0.65s forwards;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent #kiwiImage {
  width: 100%;
  opacity: 0;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent .kiwiImageResearching {
  animation: kiwiImageResearching 10s linear forwards;
}
@keyframes kiwiImageResearching {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent #kiwiCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent #kiwiCover #kiwiResearch {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 0px;
  background-color: #00ffff;
  box-shadow: 0px 0px 10px 5px #00ffff;
  transform: scale(0%, 100%);
  animation: researchStart 0.8s linear 0.5s forwards;
  display: none;
}
@keyframes researchStart {
  0% {
    transform: scale(0%, 100%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent .researching {
  animation: researching 10s linear forwards;
}
@keyframes researching {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchData {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  border-radius: 3px;
  outline: 3px solid #807e83;
  opacity: 0;
  transform: scale(60%);
  animation: popUp 0.32s linear 3.5s forwards;
  display: none;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #nZ {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 25%;
  background-color: #9fcff7;
  border-radius: 3px;
  outline: 3px solid #807e83;
  opacity: 0;
  transform: scale(60%);
  animation: popUp 0.32s linear 7s forwards;
  display: none;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #nZF {
  position: absolute;
  right: 3%;
  bottom: 30%;
  width: 10%;
  border-radius: 3px;
  outline: 3px solid #807e83;
  opacity: 0;
  transform: scale(60%);
  animation: popUp 0.32s linear 7.5s forwards;
  display: none;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchCompletedParent {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333;
  border-radius: 5px;
  outline: 5px solid #807e83;
  opacity: 0;
  padding: 5px 10px 5px 10px;
  transform: translate(-50%, -50%) scale(60%);
  animation: popUpC 0.32s linear forwards;
  display: none;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchCompletedParent #researchCompleted {
  color: #333;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchCompletedParent .completedNotice {
  animation: completedNotice 1s linear 0.3s 3 forwards;
}
@keyframes completedNotice {
  0%, 50% {
    color: #333;
  }
  51%, 100% {
    color: #00ffff;
  }
}
@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(60%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
@keyframes popUpC {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(100%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .littleStar {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
  opacity: 0;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .twinkle {
  animation: twinkle 5s infinite;
}
@keyframes twinkle {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #shootingStarParent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 480px;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #shootingStarParent #shootingStar {
  width: 5px;
  height: 0;
  border-radius: 0px 0px 2.5px 2.5px;
  background: linear-gradient(transparent, #fff);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #shootingStarParent .shootingStarGo {
  animation: shootingStarGo 3s linear;
}
@keyframes shootingStarGo {
  0% {
    height: 0px;
    opacity: 50%;
  }
  50% {
    height: 360px;
    opacity: 100%;
  }
  100% {
    height: 480px;
    opacity: 0;
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 48px;
  transform: translate(-50%, -50%);
  display: none;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae .secondStepAmae .spinAmae {
  animation: spinAmae 0.5s linear forwards;
}
@keyframes spinAmae {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae .waveAmae0 {
  animation: waveAmae 2s linear 0s 2;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae .waveAmae2 {
  animation: waveAmae 2s linear 0.3s 2;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae .waveAmae4 {
  animation: waveAmae 2s linear 0.6s 2;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae .waveAmae3 {
  animation: waveAmae 2s linear 0.9s 2;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae .waveAmae1 {
  animation: waveAmae 2s linear 1.2s 2;
}
@keyframes waveAmae {
  0%, 50%, 100% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(100%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #energyMessage {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 240px;
  color: #333;
  font-size: 48px;
  letter-spacing: 3px;
  border: 9px double #333;
  border-radius: 12px;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .chargeCompleted {
  animation: chargeCompleted 1s linear 3 forwards;
}
@keyframes chargeCompleted {
  0% {
    color: #333;
    border: 9px double #333;
  }
  50% {
    color: #333;
    border: 9px double #333;
  }
  51% {
    color: #f18d00;
    border: 9px double #f18d00;
  }
  100% {
    color: #f18d00;
    border: 9px double #f18d00;
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .slideAmae0 {
  animation: num1Amae 2s ease 0.8s forwards;
}
@keyframes num1Amae {
  0% {
    translate: -50%, -50%;
  }
  100% {
    transform: translate(-250%, -50%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .slideAmae2 {
  animation: num2Amae 2s ease 0.8s forwards;
}
@keyframes num2Amae {
  0% {
    translate: -50%, -50%;
  }
  100% {
    transform: translate(-150%, -50%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .slideAmae3 {
  animation: num4Amae 2s ease 0.8s forwards;
}
@keyframes num4Amae {
  0% {
    translate: -50%, -50%;
  }
  100% {
    transform: translate(50%, -50%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .slideAmae1 {
  animation: num5Amae 2s ease 0.8s forwards;
}
@keyframes num5Amae {
  0% {
    translate: -50%, -50%;
  }
  100% {
    transform: translate(150%, -50%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #invaderParent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 240px;
  transform: translate(-50%, -130%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #invaderParent #invader {
  animation: dancing 1s linear infinite;
}
@keyframes dancing {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #musicalNote {
  position: absolute;
  top: -5%;
  right: 0%;
  width: 33.3333333333%;
  visibility: hidden;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .invading {
  animation: invading 5s linear 1s forwards;
}
@keyframes invading {
  0% {
    transform: translate(-50%, -130%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #generalStore {
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .generalStoreSlide {
  animation: gSS 3s linear forwards;
}
@keyframes gSS {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #luckyCat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%) translateY(15%);
  animation: lCS 1.5s forwards;
  display: none;
}
@keyframes lCS {
  0% {
    transform: translate(-50%, -50%) translateY(15%);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #crow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #magicCircleBlossom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  animation: rotate 18s linear infinite;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #thunderShockParent {
  background: #666;
  display: none;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #thunderShockParent #thunderShock {
  width: 100%;
  height: 100%;
  animation: thunderShock 1s linear infinite;
}
@keyframes thunderShock {
  0%, 100% {
    transform: translate(-1%, -1%);
  }
  50% {
    transform: translate(1%, 1%);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #gaze {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  transform: translateY(-25%);
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #incubation {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75%;
  transform-origin: 50% 100%;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .incubator {
  animation: piyopiyo 2s ease-in-out forwards;
}
@keyframes piyopiyo {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  69% {
    transform: rotate(-10deg);
  }
  91% {
    transform: rotate(1deg);
  }
  97% {
    transform: rotate(-1deg);
  }
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #twoHearts {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 25%;
  visibility: hidden;
}
#birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .twoHeartsFadeIn {
  animation: twoHeartsFadeIn 1.8s 0.2s ease-out forwards;
}
#birthdayParentFrame .bICPSlide {
  animation: bICPS 1.5s ease forwards;
}
@keyframes bICPS {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
#birthdayParentFrame #wave {
  position: absolute;
  border: solid 3px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: luminous 3s;
  animation-delay: 0s;
  cursor: pointer;
  display: none;
}
@keyframes luminous {
  0% {
    width: 120px;
    height: 120px;
    box-shadow: inset 6px 0 12px #fff, 6px 0 12px #fff, inset 3px 0 15px #fff, 3px 0 15px #fff;
  }
  100% {
    width: 240px;
    height: 240px;
    box-shadow: inset 6px 0 12px #fff, 6px 0 12px #fff, inset 3px 0 15px #fff, 3px 0 15px #fff;
  }
}

#noneParentFrame {
  box-shadow: 5px 0px 5px -5px rgba(0, 0, 0, 0.5), 0px 10px 10px -10px rgba(0, 0, 0, 0.5), -5px 0px 5px -5px rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
  display: block;
}
#noneParentFrame #noneCaption {
  position: relative;
}
#noneParentFrame #noneImage {
  aspect-ratio: 4/3;
  background-color: #9fcff7;
}
#noneParentFrame #noneString {
  top: 50%;
  font-size: 24px;
  font-weight: bold;
  transform: translateY(-50%);
}
#noneParentFrame #noneString #btnOpen {
  width: 113.63px;
  color: #fff;
  background-color: #f00;
  font-size: 24px;
  border-radius: 18px;
  box-shadow: 0px 5px #b30000;
  cursor: pointer;
  display: inline-block;
}
#noneParentFrame #noneString #btnOpen:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}
#noneParentFrame #noneImageCredit {
  right: 5px;
  bottom: 2px;
}
#noneParentFrame #recommendedTalent {
  display: none;
}
#noneParentFrame #recommendedTalent .recommendedVideoParent {
  position: relative;
  width: 476.8px;
  height: 0;
  padding-bottom: 56.25%;
  visibility: hidden;
}
#noneParentFrame #recommendedTalent .recommendedVideoParent #recommendedVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#noneParentFrame #recommendedTalent #channelIntroduction {
  text-align: center;
  height: 124.2px;
  border-top: 1.6px solid #807e83;
  border-bottom: 1.6px solid #807e83;
  padding: 10px;
}
#noneParentFrame #recommendedTalent .channelIcon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  visibility: hidden;
  display: inline-block;
}
#noneParentFrame #recommendedTalent .channelName {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 5px;
  visibility: hidden;
  display: inline-block;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  55% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
#noneParentFrame #recommendedTalent .fadeIn {
  visibility: visible;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-name: fade-in;
}

#wikipediaParentFrame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  display: block;
}

#notice {
  margin: 0 auto;
  width: 480px;
  border: 1.6px solid #807e83;
  border-radius: 12px;
  box-shadow: 0px -6px 6px rgba(85, 172, 238, 0.5), 6px 0px 6px rgba(85, 172, 238, 0.5), 0px 6px 6px rgba(85, 172, 238, 0.5), -6px 0px 6px rgba(85, 172, 238, 0.5);
  margin-bottom: 12px;
}
#notice .twitter-tweet {
  margin: 0px !important;
}

.headlineParent {
  text-align: center;
}
.headlineParent .headline {
  color: #fff;
  font-size: 40px;
  border-radius: 30px;
  box-shadow: 0px 12px 12px -12px rgba(0, 0, 0, 0.5);
  padding: 0 30px 0 30px;
  margin: 36px 0px 6px 0;
  display: inline-block;
}
.headlineParent #headlineLN {
  background-color: #f44;
  margin-top: 96px;
}
.headlineParent #headlineUC {
  background-color: #f80;
}
.headlineParent #headlineA {
  background-color: #00c2cb;
}
.headlineParent #headlineP {
  background-color: #c36;
}
.headlineParent #headlineMP {
  background-color: #f58f98;
}
.headlineParent #headlineTS {
  background-color: #999999;
  margin-top: 360px;
}
.headlineParent #headlineEA {
  background-color: #55acee;
}

.subtitleParent {
  text-align: center;
  padding: 0;
}
.subtitleParent .subtitle {
  font-size: 30px;
  font-family: monospace;
  margin: 0px 0px 24px 0px;
  display: inline-block;
}
.subtitleParent #subtitleUC {
  margin-bottom: 12px;
}
.subtitleParent .lineThrough {
  text-decoration: line-through;
}

.container {
  margin: 0 auto;
  width: 1720px;
  padding-bottom: 24px;
  border-bottom: 4px solid #DCDDDD;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .scheduleDateParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .videoArchivesCustom {
  margin-bottom: 24px;
}
.container .scheduleDate {
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #333;
  font-size: 24px;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 24px;
}
.container .videoParent {
  width: 20%;
  padding: 0px 6px 12px 6px;
}
.container .videoParent .video {
  position: relative;
  text-align: center;
  background-color: #807e83;
  border: 0.8px solid #807e83;
  cursor: pointer;
  transition: all 0.32s;
}
.container .videoParent .video:hover {
  transform: scale(1.1);
}
.container .videoParent .video:hover .icon {
  opacity: 0.38;
}
.container .videoParent .video:hover .option {
  opacity: 0.5;
}
.container .videoParent .video:hover .progress {
  opacity: 1;
}
.container .videoParent .video:hover .twitchIcon {
  opacity: 0.5;
}
.container .videoParent .video:hover .videoDetail {
  /*未完成*/
  visibility: visible;
}
.container .videoParent .video:hover .videoDetail .collaboration {
  display: block;
}
.container .videoParent .video .videoThumbnailParent {
  position: relative;
}
.container .videoParent .video .videoThumbnailParent .videoThumbnail {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  color: #807e83;
  border-bottom: 0.8px solid #807e83;
}
.container .videoParent .video .videoThumbnailParent .icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 20%;
  border-radius: 50%;
  transition: opacity 0.32s;
}
.container .videoParent .video .videoThumbnailParent .option {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #fff;
  font-size: 18px;
  border-radius: 13.6px 0px 0px 13.6px;
  border: 0.8px solid #807e83;
  border-right: none;
  padding: 0 1.8px 0 6.8px;
  transition: opacity 0.32s;
}
.container .videoParent .video .videoThumbnailParent .premiere {
  background-color: #c36;
}
.container .videoParent .video .videoThumbnailParent .durationTime {
  background-color: #00c2cb;
}
.container .videoParent .video .videoThumbnailParent .progress {
  background-color: #f58f98;
}
.container .videoParent .video .videoThumbnailParent .twitchIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
  transition: opacity 0.32s;
}
.container .videoParent .video .timeParent {
  height: 36px;
  background-color: #fff;
  font-size: 18px;
  line-height: 36px;
}
.container .videoParent .video .timeParent .fa-hourglass-half {
  color: #f44;
}
.container .videoParent .video .timeParent .fa-hourglass-start {
  color: #f80;
}
.container .videoParent .video .timeParent .fa-bell {
  color: #f80;
}
.container .videoParent .video .timeParent .fa-triangle-exclamation {
  color: #f80;
}
.container .videoParent .video .timeParent .fa-hourglass-end {
  color: #757575;
}
.container .videoParent .video .timeParent .fa-floppy-disk {
  color: #757575;
}
.container .videoParent .video .timeParent .fa-person-running {
  color: #f44;
}
.container .videoParent .video .timeParent .time {
  color: #000;
  font-size: 18px;
  line-height: 36px;
}
.container .videoParent .video .videoDetail {
  position: absolute;
  right: -0.8px;
  left: -0.8px;
  width: calc(100% + 1.6px);
  background-color: #fff;
  border: 0.8px solid #807e83;
  margin-top: 0px;
  /* 未完成 */
  overflow: hidden;
  transition: height 0.32s, visibility 0.32s;
  visibility: hidden;
}
.container .videoParent .video .videoDetail .videoTitle {
  font-size: 18px;
  padding: 6px;
  display: inline-block;
}
.container .videoParent .video .videoDetail .collaboration {
  border-top: 0.8px solid #807e83;
  padding: 3px;
  margin-top: 0px;
}
.container .videoParent .video .videoDetail .collaboration .collaborationIcon {
  width: 20%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 3px;
  display: inline-block;
}

.containerCenter {
  justify-content: center;
}

#containerRV {
  padding-top: 42px;
  padding-bottom: 42px;
  display: block;
}
#containerRV .slideShowParent {
  margin: 0 auto;
  width: 540.1206px;
  border-radius: 6px;
  outline: 6px solid #777;
  overflow: hidden;
}
#containerRV .slideShowParent .slideShow {
  position: relative;
  width: 100%;
  background-color: #000;
}
#containerRV .slideShowParent .slideShow .theater {
  width: 100%;
  aspect-ratio: 4/3;
}
#containerRV .slideShowParent .slideShow .slideFrame {
  position: absolute;
  top: 38.8513px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 480px;
  height: 270px;
  outline: 12px double #777;
}
#containerRV .slideShowParent .slideShow .slide {
  position: absolute;
  top: 38.8513px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 480px;
  opacity: 0;
  cursor: pointer;
  transition-property: opacity, z-index;
  transition-duration: 1.5s;
}
#containerRV .slideShowParent .slideShow .slide img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
#containerRV .slideShowParent .slideShow .slideCurrent {
  z-index: 1;
  opacity: 1;
}
#containerRV .slideShowParent .channelIconButtons {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#containerRV .slideShowParent .channelIconButtons .channelIconButtonParent {
  padding: 6px;
}
#containerRV .slideShowParent .channelIconButtons .channelIconButtonParent .channelIconButton {
  opacity: 0.8;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition-property: opacity, outline;
  transition-duration: 0.5s;
}
#containerRV .slideShowParent .channelIconButtons .channelIconButtonParent .channelIconButton img {
  width: 100%;
}
#containerRV .slideShowParent .channelIconButtons .channelIconButtonParent .channelIconButtonCurrent {
  opacity: 1;
  outline: 6px solid #00c2cb;
}

#containerA {
  padding-bottom: 0px;
}

#containerNico {
  padding-top: 40.8px;
  padding-bottom: 40.8px;
  display: none;
}
#containerNico #nicoParent {
  margin: 0 auto;
  width: 468px;
  border-radius: 6px;
  outline: 4.8px solid #777;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
#containerNico #nicoParent #nicoVideoFrame {
  position: relative;
  width: 100%;
  height: 264px;
}
#containerNico #nicoParent #nicoVideoFrame #nicoVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #807e83;
  transform: translate(-50%, -50%) scale(1.5);
}
#containerNico #nicoParent .nicoSchedule {
  position: relative;
  text-align: center;
  width: 40%;
  height: 72.3px;
  font-size: 18px;
  border-top: 4.8px solid #777;
}
#containerNico #nicoParent .nicoSchedule span {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
#containerNico #nicoParent .nicoCollaboration {
  width: 60%;
  height: 72.3px;
  border-top: 4.8px solid #777;
  border-left: 4.8px solid #777;
  display: flex;
  justify-content: center;
}
#containerNico #nicoParent .nicoCollaboration .nicoIcon {
  width: 67.5px;
  height: 67.5px;
  border-radius: 50%;
  padding: 6px;
}

#fireworkParent {
  padding-top: 12px;
  padding-bottom: 24px;
  display: none;
}
#fireworkParent #fireworkProcessing {
  margin: 0 auto;
  width: 480px;
  height: 360px;
  border: 12px ridge #bbbcbf;
  display: block;
}

#contactStringParent {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 1720px;
  border-bottom: 4px solid #DCDDDD;
  padding-bottom: 36px;
}
#contactStringParent .contactString {
  margin-top: 0;
}
#contactStringParent #contactStringJapanese {
  font-size: 30px;
  margin-bottom: 12px;
}
#contactStringParent #contactStringEnglish {
  font-size: 27.5px;
  margin-bottom: 24px;
}
#contactStringParent #twitterAccountParent {
  height: 60px;
  font-size: 40px;
  line-height: 60px;
}
#contactStringParent #twitterAccountParent #twitterAccountLink {
  cursor: pointer;
}
#contactStringParent #twitterAccountParent #twitterAccountLink .fa-square-twitter {
  color: #55acee;
}
#contactStringParent #twitterAccountParent #twitterAccountLink #twitterAccount {
  font-size: 40px;
  line-height: 60px;
  text-decoration: underline;
}
#contactStringParent .buttonBasedParent {
  position: fixed;
  bottom: 8px;
  z-index: 114514;
  width: 1720px;
}
#contactStringParent .buttonBasedParent .buttonBased {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 108px;
  height: 108px;
  background-color: #505050;
  border-radius: 50%;
  cursor: pointer;
}
#contactStringParent #topScrollParent {
  display: none;
}
#contactStringParent #topScrollParent #topScroll {
  text-align: center;
  color: #fff;
  opacity: 0.5;
  font-size: 57.6px;
  line-height: 108px;
}
#contactStringParent #shakeHandsDisplayParent {
  display: block;
}
#contactStringParent #shakeHandsDisplayParent #shakeHandsDisplay {
  border: 0.8px solid #505050;
  border-radius: 50%;
  overflow: hidden;
}
#contactStringParent #shakeHandsDisplayParent #shakeHandsDisplay #shakeHandsIcon {
  width: 100%;
  transition: opacity 0.32s;
}
#contactStringParent #wikipediaCallParent {
  z-index: 8101081;
  display: block;
}
#contactStringParent #wikipediaCallParent .wikipediaCall {
  text-align: center;
  color: #fff;
  background-color: #215dc6;
  font-size: 57.6px;
  line-height: 108px;
  border: 0.8px solid #505050;
  transition-property: color, background-color;
  transition-duration: 1s;
}
#contactStringParent #wikipediaCallParent .flagWikipediaCall {
  color: #215dc6;
  background-color: #fff;
}

#wikipediaNavi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333;
  transform: translateY(-100%);
  z-index: 8101000;
  transition: transform 1s;
}
#wikipediaNavi #wikipediaView {
  opacity: 0;
}
#wikipediaNavi .wikipediaViewFadeIn {
  animation: wikipediaViewFadeIn 3s linear 1s forwards;
}
@keyframes wikipediaViewFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@media (max-width: 1919px) {
  .faHeader {
    margin-right: 3px;
  }
  .faVideo {
    margin-right: 2px;
  }
  .red {
    box-shadow: 1.5px 0px 2.5px #f44, -1.5px 0px 2.5px #f44, 0px 1.5px 2.5px #f44, 0px -1.5px 2.5px #f44;
  }
  .orange {
    box-shadow: 1.5px 0px 2.5px #f80, -1.5px 0px 2.5px #f80, 0px 1.5px 2.5px #f80, 0px -1.5px 2.5px #f80;
  }
  .gray {
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.5);
  }
  header {
    height: 50px;
  }
  header .btn {
    font-size: 16px;
    line-height: 50px;
    padding: 0 16px;
  }
  header #clock {
    font-size: 18px;
    line-height: 50px;
    padding-right: 18px;
  }
  #birthdayParentFrame {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #noneParentFrame {
    margin-bottom: 10px;
  }
  #notice {
    margin-bottom: 10px;
  }
  .headlineParent .headline {
    font-size: 32px;
    border-radius: 24px;
    box-shadow: 0px 9px 9px -9px rgba(0, 0, 0, 0.5);
    padding: 0 24px;
    margin: 30px 0px 5px 0;
  }
  .headlineParent #headlineLN {
    margin-top: 80px;
  }
  .headlineParent #headlineTS {
    margin-top: 300px;
  }
  .subtitleParent .subtitle {
    font-size: 24px;
    margin: 0px 0px 20px 0px;
  }
  .subtitleParent #subtitleUC {
    margin-bottom: 10px;
  }
  .container {
    width: 1103px;
    padding-bottom: 20px;
  }
  .container .videoArchivesCustom {
    margin-bottom: 20px;
  }
  .container .scheduleDate {
    font-size: 20px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .container .videoParent {
    width: 25%;
    padding: 0px 5px 10px 5px;
  }
  .container .videoParent .video .videoThumbnailParent .option {
    font-size: 15px;
    border-radius: 11.2px 0px 0px 11.2px;
    padding: 0 1.5px 0 5.6px;
  }
  .container .videoParent .video .timeParent {
    height: 30px;
    font-size: 15px;
    line-height: 30px;
  }
  .container .videoParent .video .timeParent .time {
    font-size: 15px;
    line-height: 30px;
  }
  .container .videoParent .video .videoDetail .videoTitle {
    font-size: 15px;
    padding: 5px;
  }
  .container .videoParent .video .videoDetail .collaboration {
    padding: 2.5px;
  }
  .container .videoParent .video .videoDetail .collaboration .collaborationIcon {
    padding: 2.5px;
  }
  #containerRV {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  #containerNico {
    padding-top: 34.8px;
    padding-bottom: 34.8px;
  }
  #fireworkParent {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #contactStringParent {
    width: 1103px;
    padding-bottom: 30px;
  }
  #contactStringParent #contactStringJapanese {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #contactStringParent #contactStringEnglish {
    font-size: 22px;
    margin-bottom: 20px;
  }
  #contactStringParent #twitterAccountParent {
    height: 48px;
    font-size: 32px;
    line-height: 48px;
  }
  #contactStringParent #twitterAccountParent #twitterAccountLink #twitterAccount {
    font-size: 32px;
    line-height: 48px;
  }
  #contactStringParent .buttonBasedParent {
    width: 1103px;
  }
  #contactStringParent .buttonBasedParent .buttonBased {
    bottom: 10px;
    right: 10px;
    width: 90px;
    height: 90px;
  }
  #contactStringParent #topScrollParent #topScroll {
    font-size: 48px;
    line-height: 90px;
  }
  #contactStringParent #wikipediaCallParent .wikipediaCall {
    font-size: 48px;
    line-height: 90px;
  }
}
@media (max-width: 1023px) {
  header .btn:hover {
    color: #fff;
  }
  header .btn .string {
    display: none;
  }
  .container {
    width: 733px;
  }
  .container .videoParent {
    width: 33%;
  }
  .container .videoParent .video .videoThumbnailParent .option {
    font-size: 14px;
    border-radius: 10.8px 0px 0px 10.8px;
    padding: 0 1.4px 0 5.4px;
  }
  .container .videoParent .video .timeParent {
    height: 28px;
    font-size: 14px;
    line-height: 28px;
  }
  .container .videoParent .video .timeParent .time {
    font-size: 14px;
    line-height: 28px;
  }
  .container .videoParent .video .videoDetail .videoTitle {
    font-size: 14px;
    padding: 4px;
  }
  .container .videoParent .video .videoDetail .collaboration {
    padding: 2px;
  }
  .container .videoParent .video .videoDetail .collaboration .collaborationIcon {
    padding: 2px;
  }
  #contactStringParent {
    width: 733px;
  }
  #contactStringParent .buttonBasedParent {
    width: 733px;
  }
}
@media (max-width: 767px) {
  .faHeader {
    margin-right: 0px;
  }
  header #clock {
    padding-right: 5px;
  }
  .container {
    width: 564px;
  }
  .container .videoParent {
    width: 50%;
  }
  .container .videoParent .video .videoThumbnailParent .option {
    font-size: 16px;
    border-radius: 12px 0px 0px 12px;
    padding: 0 1.6px 0 6px;
  }
  .container .videoParent .video .timeParent {
    height: 32px;
    font-size: 16px;
    line-height: 32px;
  }
  .container .videoParent .video .timeParent .time {
    font-size: 16px;
    line-height: 32px;
  }
  .container .videoParent .video .videoDetail .videoTitle {
    font-size: 16px;
    padding: 5px;
  }
  .container .videoParent .video .videoDetail .collaboration {
    padding: 2.5px;
  }
  .container .videoParent .video .videoDetail .collaboration .collaborationIcon {
    padding: 2.5px;
  }
  #contactStringParent {
    width: 564px;
  }
  #contactStringParent .buttonBasedParent {
    width: 564px;
  }
}
@media (max-width: 599px) {
  .faVideo {
    margin-right: 1px;
  }
  .red {
    box-shadow: 1.2px 0px 1.8px #f44, -1.2px 0px 1.8px #f44, 0px 1.2px 1.8px #f44, 0px -1.2px 1.8px #f44;
  }
  .orange {
    box-shadow: 1.2px 0px 1.8px #f80, -1.2px 0px 1.8px #f80, 0px 1.2px 1.8px #f80, 0px -1.2px 1.8px #f80;
  }
  .gray {
    box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.5);
  }
  header {
    width: 100%;
    height: 30px;
    padding: 0 5px;
  }
  header .btn {
    font-size: 12px;
    line-height: 30px;
    padding: 0 15px;
  }
  header .btn .string {
    display: none;
  }
  header #clock {
    font-size: 13px;
    line-height: 30px;
  }
  #birthdayParentFrame {
    box-shadow: 0px -4px 4px #ffcde1, 4px 0px 4px #ffcde1, 0px 4px 4px #ffcde1, -4px 0px 4px #ffcde1;
    margin-top: 4px;
    margin-bottom: 16px;
  }
  #birthdayParentFrame #whiteBoard {
    border-radius: 6px;
  }
  #birthdayParentFrame #birthdayString {
    font-size: 16px;
    text-shadow: 0.4px 0.4px 0px #333, -0.4px 0.4px 0px #333, 0.4px -0.4px 0px #333, -0.4px -0.4px 0px #333;
  }
  #birthdayParentFrame #birthdayIcon {
    top: 3px;
    left: 3px;
    width: 80px;
    height: 80px;
    border: 3px solid;
  }
  #birthdayParentFrame .birthdayImageCoverParent #touchHere {
    font-size: 16px;
  }
  #birthdayParentFrame .birthdayImageCoverParent #violetWindow {
    box-shadow: 0 0 6px #948bdb, 0 0 24px #948bdb, 0 0 6px #948bdb;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #firstStepRuki #secondStepRuki #vitamineThumbnail {
    border-radius: 3px;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .dolphin {
    top: calc(50% - 10.717968px);
    transform-origin: 50% 80px;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #blackSea {
    border-top: 1.8px solid #333;
  }
  @keyframes seaHorizon {
    0% {
      border-top: 1.8px solid #333;
    }
    100% {
      border-top: 1.8px solid #fff;
    }
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #kiwiParent #kiwiCover #kiwiResearch {
    box-shadow: 0px 0px 6px 3px #00ffff;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchData {
    border-radius: 1.8px;
    outline: 1.8px solid #807e83;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #nZ {
    border-radius: 1.8px;
    outline: 1.8px solid #807e83;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #nZF {
    border-radius: 1.8px;
    outline: 1.8px solid #807e83;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchCompletedParent {
    border-radius: 3px;
    outline: 3px solid #807e83;
    padding: 3px 6px 3px 6px;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #researchCompletedParent #researchCompleted {
    font-size: 16px;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #shootingStarParent {
    height: 320px;
  }
  @keyframes shootingStarGo {
    0% {
      height: 0px;
      opacity: 50%;
    }
    50% {
      height: 270px;
      opacity: 100%;
    }
    100% {
      height: 320px;
      opacity: 0;
    }
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild .firstStepAmae {
    font-size: 32px;
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #energyMessage {
    width: 160px;
    font-size: 32px;
    letter-spacing: 2px;
    border: 6px double #333;
    border-radius: 8px;
  }
  @keyframes chargeCompleted {
    0% {
      color: #333;
      border: 6px double #333;
    }
    50% {
      color: #333;
      border: 6px double #333;
    }
    51% {
      color: #f18d00;
      border: 6px double #f18d00;
    }
    100% {
      color: #f18d00;
      border: 6px double #f18d00;
    }
  }
  #birthdayParentFrame .birthdayImageCoverParent .birthdayImageCoverChild #invaderParent {
    font-size: 160px;
  }
  #birthdayParentFrame #crown {
    width: 80px;
  }
  #birthdayParentFrame #wave {
    position: absolute;
    border: solid 2px rgba(255, 255, 255, 0.8);
  }
  @keyframes luminous {
    0% {
      width: 80px;
      height: 80px;
      box-shadow: inset 4px 0 8px #fff, 4px 0 8px #fff, inset 2px 0 10px #fff, 2px 0 10px #fff;
    }
    100% {
      width: 160px;
      height: 160px;
      box-shadow: inset 4px 0 8px #fff, 4px 0 8px #fff, inset 2px 0 10px #fff, 2px 0 10px #fff;
    }
  }
  #birthdayParentFrame #birthdayImageCredit {
    right: 2px;
    bottom: -1px;
  }
  .headlineParent .headline {
    font-size: 20px;
    border-radius: 15.2px;
    box-shadow: 0px 6px 6px -6px rgba(0, 0, 0, 0.5);
    padding: 0 15.2px 0 15.2px;
    margin: 20px 0px 3px 0;
  }
  .headlineParent #headlineLN {
    margin-top: 50px;
  }
  .headlineParent #headlineTS {
    margin-top: 200px;
  }
  .subtitleParent .subtitle {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
  }
  .subtitleParent #subtitleUC {
    margin-bottom: 6px;
  }
  .optionParentFrame {
    width: 336px;
    border-radius: 8.34px;
    padding: 6px;
  }
  .optionParentFrame .optionParent {
    width: 320px;
    border-radius: 8px;
  }
  .optionParentFrame .optionParent #bookTitle {
    font-size: 16px;
  }
  .optionParentFrame .optionParent .optionImageCredit {
    font-size: 7px;
  }
  #noneParentFrame {
    box-shadow: 3px 0px 3px -3px rgba(0, 0, 0, 0.5), 0px 6px 6px -6px rgba(0, 0, 0, 0.5), -6px 0px 6px -6px rgba(0, 0, 0, 0.5);
    margin-bottom: 6px;
  }
  #noneParentFrame #noneString {
    font-size: 16px;
  }
  #noneParentFrame #noneString #btnOpen {
    width: 75.75px;
    font-size: 16px;
    border-radius: 12px;
    box-shadow: 0px 3px #b30000;
  }
  #noneParentFrame #noneString #btnOpen:active {
    top: 3px;
  }
  #noneParentFrame #noneImageCredit {
    right: 3px;
    bottom: 1px;
  }
  #noneParentFrame #recommendedTalent .recommendedVideoParent {
    width: 316.8px;
  }
  #noneParentFrame #recommendedTalent #channelIntroduction {
    height: 84px;
    padding: 6px;
  }
  #noneParentFrame #recommendedTalent .channelIcon {
    width: 48px;
    height: 48px;
  }
  #noneParentFrame #recommendedTalent .channelName {
    font-size: 13px;
    margin-top: 3px;
  }
  #notice {
    width: 320px;
    box-shadow: 0px -4px 4px rgba(85, 172, 238, 0.5), 4px 0px 4px rgba(85, 172, 238, 0.5), 0px 4px 4px rgba(85, 172, 238, 0.5), -4px 0px 4px rgba(85, 172, 238, 0.5);
    margin-bottom: 6px;
  }
  .container {
    width: 363px;
    border-bottom: 3px solid #DCDDDD;
    padding-bottom: 14px;
  }
  .container .videoArchivesCustom {
    margin-bottom: 14px;
  }
  .container .scheduleDate {
    font-size: 13px;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .container .videoParent {
    width: 50%;
    padding: 0px 3px 6px 3px;
  }
  .container .videoParent .video .videoThumbnailParent .option {
    font-size: 11px;
    border-radius: 8.4px 0px 0px 8.4px;
    padding: 0 1.1px 0 4.2px;
  }
  .container .videoParent .video .timeParent {
    height: 22px;
    font-size: 11px;
    line-height: 22px;
  }
  .container .videoParent .video .timeParent .time {
    font-size: 11px;
    line-height: 22px;
  }
  .container .videoParent .video .videoDetail .videoTitle {
    font-size: 11px;
    padding: 3px;
  }
  .container .videoParent .video .videoDetail .collaboration {
    padding: 1.5px;
  }
  .container .videoParent .video .videoDetail .collaboration .collaborationIcon {
    padding: 1.5px;
  }
  #containerRV {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  #containerRV .slideShowParent {
    width: 360.0804px;
    border-radius: 4px;
    outline: 4px solid #777;
  }
  #containerRV .slideShowParent .slideShow .slideFrame {
    top: 25.9009px;
    width: 320px;
    height: 180px;
    outline: 8px double #777;
  }
  #containerRV .slideShowParent .slideShow .slide {
    top: 25.9009px;
    width: 320px;
  }
  #containerRV .slideShowParent .channelIconButtons .channelIconButtonParent {
    padding: 4px;
  }
  #containerRV .slideShowParent .channelIconButtons .channelIconButtonParent .channelIconButtonCurrent {
    outline: 4px solid #00c2cb;
  }
  #containerNico {
    padding-top: 23.2px;
    padding-bottom: 23.2px;
  }
  #containerNico #nicoParent {
    width: 312px;
    border-radius: 4px;
    outline: 3.2px solid #777;
  }
  #containerNico #nicoParent #nicoVideoFrame {
    height: 176px;
  }
  #containerNico #nicoParent #nicoVideoFrame #nicoVideo {
    transform: translate(-50%, -50%) scale(1);
  }
  #containerNico #nicoParent .nicoSchedule {
    height: 48.2px;
    font-size: 13px;
    border-top: 3.2px solid #777;
  }
  #containerNico #nicoParent .nicoCollaboration {
    height: 48.2px;
    border-top: 3.2px solid #777;
    border-left: 3.2px solid #777;
  }
  #containerNico #nicoParent .nicoCollaboration .nicoIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 4px;
  }
  #fireworkParent {
    padding-top: 4px;
    padding-bottom: 16px;
  }
  #fireworkParent #fireworkProcessing {
    width: 360px;
    height: 270px;
    border: 9px ridge #bbbcbf;
  }
  #contactStringParent {
    width: 363px;
    border-bottom: 3px solid #DCDDDD;
    padding-bottom: 20px;
  }
  #contactStringParent #contactStringJapanese {
    font-size: 15px;
    margin-bottom: 6px;
  }
  #contactStringParent #contactStringEnglish {
    font-size: 13.75px;
    margin-bottom: 10px;
  }
  #contactStringParent #twitterAccountParent {
    height: 30px;
    font-size: 20px;
    line-height: 30px;
  }
  #contactStringParent #twitterAccountParent #twitterAccountLink #twitterAccount {
    font-size: 20px;
    line-height: 30px;
  }
  #contactStringParent .buttonBasedParent {
    width: 363px;
  }
  #contactStringParent .buttonBasedParent .buttonBased {
    bottom: 6px;
    right: 6px;
    width: 60px;
    height: 60px;
  }
  #contactStringParent #topScrollParent #topScroll {
    font-size: 32px;
    line-height: 60px;
  }
  #contactStringParent #wikipediaCallParent .wikipediaCall {
    font-size: 32px;
    line-height: 60px;
  }
}/*# sourceMappingURL=stylesheet.css.map */
